@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Grape+Nuts&family=Open+Sans&family=Playfair+Display&family=Share+Tech&family=Share+Tech+Mono&display=swap');

:root{
    --color-sidebar: #85baff;
    --color-primary: #ffff;
    --color-secundary: #f1f5f5;
}

html,body{
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

#sidebar{
    background-color:var(--color-sidebar);
    padding: 20px;
    gap: 20px;
}

#form {
    display: grid;
    gap: 10px;
}

#collection{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
}

#titleDiv{
    display: flex;
    flex-direction: column;
    background-color:var(--color-primary) ;
    justify-content: center;
    align-items: center;
}

#library{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    background-color:var(--color-secundary) ;
}


table{
    border: 0px;
}
tr{
    display: flex;
}

th{
    background-color: var(--color-sidebar);
}

td{
    background-color: var(--color-primary);
    text-align: center;
    
}
th, td {
    display: flex;
    border: solid black;
    width: 150px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.deleteBtn{
    border: solid 3px black;
    background-color: rgb(255, 217, 0);
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.deleteBtn:hover{
    background-color: red;
}
